:root{
    --canvasBackGroundColor:#000000 ;

    --bodyBackGroundColor: #1d1d1d;

    --buttonBackGroundColor:#525252;
}

canvas{
    box-shadow: 0 0 .25em .25em;
    background-color: var(--canvasBackGroundColor);
}

body{
    display: grid;
    background-color: var(--bodyBackGroundColor);
    width: 1em;
    color: var(--bodyBackGroundColor);
}

.button{
    width: 15%;
    color: var(--buttonTextColor);
    background-color: var(--buttonBackGroundColor);
}